<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_contacto.css')}}">
    <div class=franja>
        <h1>UNIVERSIDAD NACIONAL DEL CALLAO</h1>
    </div>
    <div class="subtitulo">
        <h2>CONTACTO</h2>
    </div>
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d290.0002872435671!2d-77.11706928171877!3d-12.059805117352562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cb24ef2c3771%3A0x13e5c4b4dbb40385!2sOficina%20de%20Bienestar%20Universitario%20(OBU)!5e0!3m2!1ses!2spe!4v1700583539904!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
    </div>

    <div class="cuerpo">
        <p>
            <strong>Dirección:</strong>
            &nbsp;Av. Juan Pablo II 306, Bellavista - Callao
            <br>
            <strong>Central Telefónica:</strong>
            &nbsp;429-6609 /&nbsp;429-9899
            <br>
            <strong>Email:</strong>
            &nbsp;orpii.informes@unac.edu.pe
        </p>
    </div>
</body>
</html>