<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_nosotros.css')}}">
    <div class=franja>
        <h1>UNIVERSIDAD NACIONAL DEL CALLAO</h1>
    </div>
    <div class="subtitulo">
        <h2>FUNCIONES GENERALES</h2>
    </div>
    <div class="container">
        <img src="https://obu.unac.edu.pe/images/logo-obu.png" alt="logo">
    </div>

    <div class="cuerpo">
        <p>1) Ejecutar programas, servicios y acciones de bienestar con el objetivo de
        lograr su realización plena, manteniendo preocupación permanente por el bienestar físico, mental y moral de la comunidad
        universitaria.<br><br>
        
        2) Extender los servicios y programas de bienestar a sus miembros y servidores en todos los locales y dependencias de la
        Universidad, inclusive aquellas que se encuentran fuera de sus núcleos de infraestructura central, tales como: sedes,
        centros e institutos de investigación, islas; entre otros.<br><br>
        
        3) Promover los programas y servicios de: alimentación, vivienda, servicio social, psicológico y psicopedagógico,
        actividades deportivas, recreacionales, artísticas, culturales y otros. Los trabajadores docentes y no docentes que
        estén en la condición de cesantes o jubilados participan en los programas y servicios de bienestar social que la
        Universidad ofrece. Estos programas y servicios se efectúan de conformidad con el Reglamento pertinente y en
        coordinación con los gremios universitarios.<br><br>
        
        4) Gestionar la implementación de infraestructura y equipamiento necesario para los programas y servicios de bienestar,
        tales como: comedor universitario, residencia estudiantil, campos deportivos, gimnasio, locales de recreación, centro
        médico, farmacia, guardería infantil.<br><br>
        
        5) Ejecutar periódicamente campañas de salud y educación sanitaria en coordinación con la Facultad de Ciencias de la Salud,
        dirigida a la comunidad universitaria.<br><br>
        
        6) Promover programas o convenios con instituciones especializadas de lucha contra el cáncer, enfermedades
        infectocontagiosas, enfermedades endémicas y otras a favor de estudiantes, docentes y personal no docente.<br><br>
        
        7) Fomentar la inscripción de estudiantes al Seguro Integral de Salud (SIS) o equivalente al inicio de cada año académico;
        asimismo el estudiante deberá realizar un control de salud obligatorio.<br><br>
        
        8) Fomentar actividades culturales, artísticas y deportivas; auspicia, instituye y organiza los juegos florales, olimpiadas
        universitarias internas y otros certámenes relacionados, para coadyuvar el desarrollo integral de los estudiantes;
        asimismo, participa en las Olimpiadas Universitarias Nacionales organizado por el Instituto Peruano de Deportes (IPD).
        La Universidad gestiona el auspicio externo ante instituciones públicas y privadas dentro del marco de responsabilidad
        social.<br><br>
        
        9) Establecer Programas Deportivos de Alta Competencia (PRODAC-UNAC), con no menos de tres disciplinas en sus distintas
        categorías. El Reglamento correspondiente regula su funcionamiento que incluye becas, tutorías, derechos y deberes de
        los estudiantes, entre otros, de acuerdo a Ley.<br><br>
        
        10) Administrar el Fondo de Solidaridad del Estudiante obligatorio con ingresos aportados por el estudiante, el cual
        constituye un fondo intangible para los servicios y programas de bienestar estudiantil; su distribución y cobertura está
        señalado en el Reglamento respectivo.</p>
    </div>
</body>

</html>