<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_servicios.css')}}">
    <div class=franja>
        <h1>UNIVERSIDAD NACIONAL DEL CALLAO</h1>
    </div>
    <div class="subtitulo">
        <h2>SERVICIO DE LABORATORIO</h2>
    </div>
    <div class="container">
        <img src="https://obu.unac.edu.pe/images/2018/03/21/20180320_113332.jpg" alt="Quimico-Farmaceutica">
    </div>

    <div class="cuerpo">
		<p><br>Hola, bienvenido a la Oficina de Bienestar Universitario, donde ofrecemos un servicio de laboratorio de calidad y personalizado a los estudiantes de la Universidad Nacional del Callao. Nuestro objetivo es cuidar de tu salud y bienestar, por eso contamos con un equipo de profesionales altamente capacitados y especializados en diferentes ramas de los análisis clínicos. Aquí podrás encontrar servicios de hematología, bioquímica, microbiología, entre otros. También disponemos de tecnología avanzada para realizar pruebas y procedimientos con mayor precisión y seguridad.<br><br>
			En la Oficina de Bienestar Universitario, nos preocupamos por brindarte una atención integral, que incluye la prevención, el diagnóstico, el tratamiento y el seguimiento de las enfermedades que puedan afectarte. Para ello, utilizamos los avances tecnológicos más innovadores, que nos permiten realizar pruebas y procedimientos con mayor precisión y seguridad. Además, te ofrecemos una atención humanizada, respetuosa y empática, que respeta tus derechos, tus preferencias y tu confidencialidad.<br><br>
			
			Como estudiante de la Universidad Nacional del Callao, te recomendamos que tengas en cuenta las siguientes sugerencias para mejorar tu experiencia y tu salud:<br><br><br>
			
			● Acude a tus citas de laboratorio puntualmente y con tu carné universitario.<br><br>
			● Trae tus resultados de laboratorio anteriores, si los tienes.<br><br>
			● Informa a tu médico sobre tus antecedentes personales y familiares de salud, así como sobre tus alergias, medicamentos y hábitos de vida.<br><br>
			● Haga todas las preguntas que tenga sobre tu salud, tu diagnóstico, tu tratamiento y tu pronóstico. Tu médico te dará información clara, completa y veraz.<br><br>
			● Sigue las indicaciones y recomendaciones de tu médico y de tu equipo de salud. Toma tus medicamentos según la prescripción y cumple con los controles y las citas de seguimiento.<br><br>
			● Solicita una segunda opinión médica si lo deseas o si tienes dudas sobre tu diagnóstico o tratamiento.<br><br>
			● Participa activamente en el cuidado de tu salud, adoptando hábitos saludables, como una buena higiene personal, una alimentación balanceada, una actividad física regular, un descanso adecuado.<br><br>
			● Exprese tus opiniones, sugerencias y quejas sobre la atención que recibes en la Oficina de Bienestar Universitario. Tu feedback nos ayuda a mejorar nuestros servicios y nuestra calidad.<br><br>
			● Gracias por confiar en la Oficina de Bienestar Universitario. Estamos a tu disposición para atenderte y acompañarte en tu proceso de salud. Recuerda que tu salud es lo más importante y que nosotros estamos aquí para cuidarla.<br><br>
		</p>
	</div>


    <div class="boton">
        <a href="{{url_for('agendar_cita')}}">Agendar Cita</a>
    </div>

</body>

</html>