<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_servicios.css')}}">
	<div class = franja>
		<h1>UNIVERSIDAD NACIONAL DEL CALLAO</h1>
	</div>
    <div class="subtitulo">
        <h2>SERVICIO DE MEDICINA</h2>
    </div>
	<div class="container">
		<img src="https://obu.unac.edu.pe/images/2018/03/21/alejandro.jpg" alt="Medico">
		<img src="https://obu.unac.edu.pe//images/2019/enfermera-yaneth-modificada.jpg?1700587099330" alt="enfermera">
	</div>

	<div class="cuerpo">
		<p><br>Hola, bienvenido a la Oficina de Bienestar Universitario, donde ofrecemos una atención médica de calidad y personalizada a los estudiantes de la Universidad Nacional del Callao. Nuestro objetivo es cuidar de su salud y bienestar, por eso contamos con un equipo de profesionales altamente capacitados y especializados en diferentes ramas de la medicina. Aquí podrá encontrar servicios de medicina general y medicina interna. También disponemos de un laboratorio clínico y una sala de emergencias.<br><br>
			En la Oficina de Bienestar Universitario, nos preocupamos por brindarle una atención integral, que incluye la prevención, el diagnóstico, el tratamiento y el seguimiento de las enfermedades y lesiones que puedan afectarle. Para ello, utilizamos los avances tecnológicos más innovadores, que nos permiten realizar pruebas y procedimientos con mayor precisión y seguridad. Además, le ofrecemos una atención humanizada, respetuosa y empática, que respeta sus derechos, sus preferencias y su confidencialidad.<br><br>			
			Como estudiante de la Universidad Nacional del Callao, le recomendamos que tenga en cuenta las siguientes sugerencias para mejorar su experiencia y su salud:<br><br><br>
			
			● Acuda a sus citas médicas puntualmente y con su carné universitario.<br><br>
			● Traiga sus exámenes y recetas médicas anteriores, si los tiene.<br><br>
			● Informe a su médico sobre sus antecedentes personales y familiares de salud, así como sobre sus alergias, medicamentos y hábitos de vida.<br><br>
			● Haga todas las preguntas que tenga sobre su salud, su diagnóstico, su tratamiento y su pronóstico. Su médico le dará información clara, completa y veraz.<br><br>
			● Siga las indicaciones y recomendaciones de su médico y de su equipo de salud. Tome sus medicamentos según la prescripción y cumpla con los controles y las citas de seguimiento.<br><br>
			● Solicite una segunda opinión médica si lo desea o si tiene dudas sobre su diagnóstico o tratamiento.<br><br>
			● Participe activamente en el cuidado de su salud, adoptando hábitos saludables, como una alimentación balanceada, una actividad física regular, un descanso adecuado y una higiene personal.<br><br>
			● Exprese sus opiniones, sugerencias y quejas sobre la atención que recibe en la Oficina de Bienestar Universitario. Su feedback nos ayuda a mejorar nuestros servicios y nuestra calidad.<br><br>
			● Gracias por confiar en la Oficina de Bienestar Universitario. Estamos a su disposición para atenderle y acompañarle en su proceso de salud. Recuerde que su salud es lo más importante y que nosotros estamos aquí para cuidarla.<br><br>
		</p>
	</div>	

	<div class = "boton">
	<a href="{{url_for('agendar_cita')}}">Agendar Cita</a>
	</div>

</body>

</html>