<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_nosotros.css')}}">
    <div class=franja>
        <h1>UNIVERSIDAD NACIONAL DEL CALLAO</h1>
    </div>
    <div class="subtitulo">
        <h2>OBJETIVOS</h2>
    </div>
    <div class="container">
        <img src="https://obu.unac.edu.pe/images/logo-obu.png" alt="logo">    
    </div>

    <div class="cuerpo">
        <p>En este centro, nuestro principal objetivo es proporcionar servicios médicos integrales y promover hábitos saludables
        entre los estudiantes. Nos esforzamos por ser un apoyo constante en su viaje académico, asegurando que tengan acceso a
        atención médica de calidad y recursos que fomenten un estilo de vida saludable. Nuestro compromiso es contribuir a un
        entorno universitario donde cada estudiante pueda alcanzar su máximo potencial, tanto académica como personalmente. ¡Su
        salud es nuestra prioridad!</p>
    </div>
</body>

</html>