<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_servicios.css')}}">
    <div class=franja>
        <h1>UNIVERSIDAD NACIONAL DEL CALLAO</h1>
    </div>
    <div class="subtitulo">
        <h2>SERVICIO DE ODONTOLOGÍA</h2>
    </div>
    <div class="container">
        <img src="https://obu.unac.edu.pe/images/2018/03/21/maria-elena.jpg" alt="Doctora">
        <img src="https://obu.unac.edu.pe/images/2018/03/21/zacarias1.jpg" alt="Doctor">
        <img src="https://obu.unac.edu.pe/images/2018/05/18/segundo.jpg" alt="Tecnico">
    </div>

    <div class="cuerpo">
		<p>Bienvenido al Servicio de Odontología de la Oficina de Bienestar Universitario. Nos complace ser parte esencial de la
        experiencia universitaria, brindando servicios de Prevención Primaria y Asistenciales en Salud Oral para toda la
        comunidad.<br><br>
        
        Nuestro equipo está compuesto por dos Cirujanos Dentistas y un técnico dental, dedicados a promover la salud bucal y
        contribuir al bienestar general. Ofrecemos charlas educativas preventivas que abarcan desde prácticas de higiene oral
        hasta medidas preventivas clave.<br><br>
        
        En el ámbito asistencial, brindamos servicios como curaciones con resina de luz halógena, destartrajes, profilaxis y
        extracciones. Creemos que el acceso a servicios dentales de calidad es esencial para el bienestar y el desarrollo
        académico y profesional.<br><br>
        
        Como estudiantes universitarios, entendemos los desafíos que enfrentan. Queremos apoyarlos en su viaje ofreciendo
        cuidado dental de calidad, para que puedan enfrentar sus desafíos académicos y profesionales con confianza. Creemos
        firmemente que una buena salud oral es fundamental para el éxito a largo plazo.<br><br>
        
        Los invitamos a explorar nuestros servicios, participar en nuestras charlas educativas y cuidar de su salud oral.
        Estamos aquí para apoyarlos en cada paso del camino, contribuyendo a una comunidad universitaria más saludable y fuerte.
		</p>
	</div>


    <div class="boton">
        <a href="{{url_for('agendar_cita')}}">Agendar Cita</a>
    </div>

</body>

</html>