<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_servicios.css')}}">
    <div class=franja>
        <h1>UNIVERSIDAD NACIONAL DEL CALLAO</h1>
    </div>
    <div class="subtitulo">
        <h2>SERVICIO DE PSICOLOGÍA Y PSICOPEDAGOGÍA</h2>
    </div>
    <div class="container">
        <img src="https://obu.unac.edu.pe/images/2018/03/21/psicologa.png" alt="psicologa">
        <img src="https://obu.unac.edu.pe/images/inicio/slider-unidad-centro-de-salud/20170427_103352.jpg" alt="psicologa2">
    </div>

    <div class="cuerpo">
		<p><br>Hola, bienvenido a la Oficina de Bienestar Universitario, donde ofrecemos una atención psicológica y psicopedagógica de calidad y personalizada a los estudiantes de la Universidad Nacional del Callao. Nuestro objetivo es cuidar de tu salud mental y bienestar, por eso contamos con un equipo de profesionales altamente capacitados y especializados en diferentes ramas de la psicología y psicopedagogía. Aquí podrás encontrar servicios de psicología clínica, psicología educativa, psicopedagogía, entre otros.<br><br>
			En la Oficina de Bienestar Universitario, nos preocupamos por brindarte una atención integral, que incluye la prevención, el diagnóstico, el tratamiento y el seguimiento de las dificultades emocionales y de aprendizaje que puedan afectarte. Para ello, utilizamos los avances tecnológicos más innovadores, que nos permiten realizar pruebas y procedimientos con mayor precisión y seguridad. Además, te ofrecemos una atención humanizada, respetuosa y empática, que respeta tus derechos, tus preferencias y tu confidencialidad.<br><br>
			
			Como estudiante de la Universidad Nacional del Callao, te recomendamos que tengas en cuenta las siguientes sugerencias para mejorar tu experiencia y tu salud mental:<br><br><br>
			
			● Acude a tus citas psicológicas y psicopedagógicas puntualmente y con tu carné universitario.<br><br>
			● Trae tus informes psicológicos y psicopedagógicos anteriores, si los tienes.<br><br>
			● Informa a tu psicólogo o psicopedagogo sobre tus antecedentes personales y familiares de salud mental, así como sobre tus alergias, medicamentos y hábitos de vida.<br><br>
			● Haz todas las preguntas que tengas sobre tu salud mental, tu diagnóstico, tu tratamiento y tu pronóstico. Tu psicólogo o psicopedagogo te dará información clara, completa y veraz.<br><br>
			● Sigue las indicaciones y recomendaciones de tu psicólogo o psicopedagogo y de tu equipo de salud. Cumple con los controles y las citas de seguimiento.<br><br>
			● Solicita una segunda opinión psicológica o psicopedagógica si lo deseas o si tienes dudas sobre tu diagnóstico o tratamiento.<br><br>
			● Participa activamente en el cuidado de tu salud mental, adoptando hábitos saludables, como una buena higiene mental, una alimentación balanceada, una actividad física regular, un descanso adecuado y una higiene personal.<br><br>
			● Expresa tus opiniones, sugerencias y quejas sobre la atención que recibes en la Oficina de Bienestar Universitario. Tu feedback nos ayuda a mejorar nuestros servicios y nuestra calidad.<br><br>
			● Gracias por confiar en la Oficina de Bienestar Universitario. Estamos a tu disposición para atenderte y acompañarte en tu proceso de salud mental. Recuerda que tu salud mental es lo más importante y que nosotros estamos aquí para cuidarla.<br><br>
		</p>
	</div>


    <div class="boton">
        <a href="{{url_for('agendar_cita')}}">Agendar Cita</a>
    </div>

</body>

</html>