<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_nosotros.css')}}">
    <div class=franja>
        <h1>UNIVERSIDAD NACIONAL DEL CALLAO</h1>
    </div>
    <div class="subtitulo">
        <h2>UNIDAD CENTRAL</h2>
    </div>
    <div class="container">
        <img src="https://obu.unac.edu.pe/images/logo-obu.png" alt="logo">
    </div>

    <div class="cuerpo">
        <p>
            La jefatura y los profesionales que conforman el Centro de Salud tenemos la convicción y el compromiso de fomentar la
            Salud tanto de la población estudiantil como de todos los trabajadores de la Comunidad Universitaria. La intervención
            que tenemos no es solo de prevención secundaria es decir diagnosticar y tratar las enfermedades ya establecidas
            limitando su daño y secuelas sino realizamos también la prevención primaria al intervenir sobre los factores previos al
            desarrollo de la enfermedad conocido como el periodo prepatogénico como consecuencia alcanzamos un impacto positivo en
            LA SALUD.<br><br>
            
            Entre las actividades que realizamos estan las Charlas de Prevención y Promoción de la Salud, Pruebas de tamizaje,
            Campañas Integrales de Salud, atenciones en nuestros servicios de medicina , odontología, psicología y Laboratorio de
            análisis Clínicos.
        </p>
    </div>
</body>

</html>